<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/aop          http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context     http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <context:annotation-config />

    <bean id="duke" class="PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonet29"/>
    </bean>

    <bean id="sonet29" class="Sonet29">
    </bean>

    <bean id="theStage" class="Stage" factory-method="getInstance" >
    </bean>

    <bean id="ticket" class="Ticket" scope="singleton"/>

    <bean id="saxophone" class="Saxophone"/>

    <bean id="saxophonist1" class="Instrumentalist">

        <property name="song" value="Sooooong1"/>
        <property name="instrument" ref="saxophone"/>


    </bean>

    <bean id="saxophonist2" class="Instrumentalist">
        <property name="instrument" ref="saxophone"/>
        <property name="song" value="Song"/>
    </bean>


    <bean id="audience" class="Audience"/>

    <aop:config>

        <aop:aspect ref="audience">
            
            <aop:pointcut id="performance" expression="execution(* Performer.perform(..))"/>

            <aop:before pointcut-ref = "performance" method="takeSeats"/>

            <aop:before pointcut-ref = "performance"  method="turnOffCellPhones"/>

            <aop:after-returning pointcut-ref = "performance" method="applaud"/>

            <aop:after-throwing pointcut-ref = "performance"  method="demandRefund"/>


        </aop:aspect>

    </aop:config>




</beans>